<!doctype html>
<html>
  <head>
    <title>Ask the Audience</title>
  </head>
  <body>
    <h1> <%= poll.title %> </h1>
    <h3>Links</h3>
    <ul>
      <li> <a href="/polls/<%= id %>/<%= adminID %>">Poll Administrative Link</a> </li>
      <li> <a href="/polls/<%= id %>">Active Poll</a> </li>
    </ul>

    <h3>Your Poll Results</h3><br>
    <div id="connection-count"></div>
    <div id="vote-count">
      <%= votes %>
    </div>
    <br><br><br>
    <div id="status-message"></div>
    <!-- Make sure your JS is at the bottom of the body! -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
