<!doctype html>
<html>
  <head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css'>

    <title>Ask the Audience</title>
  </head>
  <body>
    <h1 class="center"> <%= poll.title %> </h1>

    <div class="container">
        <h5 class="center"><a href="/polls/<%= id %>/<%= adminID %>">Administrative Link</a> &nbsp || &nbsp
        <a href="/polls/<%= id %>">Active Poll Link</a></h5><br>

      <h3 class="center">Your Poll Results</h3><br>
      <div id="connection-count"></div>
      <div id="vote-count">
        <%= votes %>
      </div>
      <br><br><br>
    </div>
    <div id="status-message"></div>
    <!-- Make sure your JS is at the bottom of the body! -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
