<!doctype html>
<html>
  <head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css'>

    <title>Ask the Audience</title>
  </head>
  <body>
    <h1 class="center"> <%= poll.title %> </h1>

    <div class="container">
      <h2>Submit Your Vote!</h2>
      <div id="connection-count"></div>
      <!-- <h3><div id="vote-message"></div></h3><br> -->
      <table class="centered">
        <thead>
          <tr>
            <th>Option</th>
            <th>Count</th>
            <!-- <th>Cast Vote</th> -->
          </tr>
        </thead>
        <tbody id="choices">
          <% for(var i=0; i < poll.options.length; i++){ %>
            <tr>
              <td><button class="btn btn-default"> <%=poll.options[i]%> </button><br><br></td>
              <td id="<%=poll.options[i]%>-votes"> 0 </td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <!-- <div id="choices">
        <% for(var i=0; i < poll.options.length; i++){ %>
          <button class="btn btn-default"> <%= poll.options[i] %> </button><br><br>
        <% } %>
      </div><br> -->

      <!-- <div id="vote-count">
        <%= votes %>
      </div> -->
    </div>
    <br><br><br>
    <div id="status-message"></div>
    <!-- Make sure your JS is at the bottom of the body! -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
