<!doctype html>
<html>
  <head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css'>

    <title>Ask the Audience</title>
  </head>
  <body>
    <h4 class = "center" id="close-poll"></h4>
    <h1 class="center">Your Polls</h1>
    <h5 class="center">
      <a href="/polls/admin/<%= polls[0].adminId %>">All Your Polls</a> &nbsp || &nbsp
      <a href="/" id="close-poll">Create New Poll</a>
    </h5><br><br>

    <div class="container">
      <table class="centered">
        <thead>
          <tr>
            <th>Poll Name</th>
            <th>Open?</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < polls.length; i++){ %>
            <tr>
              <td><h5><a href="/polls/<%= polls[i].id %>/<%= polls[i].adminId %>"><%= polls[i].title %></a></h5></td>
              <td> <%= !polls[i].closed %></td>
            </tr>
          <% }%>
        </tbody>
      </table>
      <br><br><br>
    </div>
    <div id="status-message"></div>
    <!-- Make sure your JS is at the bottom of the body! -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
