<!doctype html>
<html>
  <head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css'>

    <title>Ask the Audience</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"><%= poll.title %> </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/polls/admin/<%= poll.adminId %>">See All Your Polls</a></li>
        </ul>
      </div>
    </nav>

    <h1 class="center"> <%= poll.title %> </h1>
    <h4 class = "center" id="closed-poll"></h4>

    <div class="container">
      <h5 class="center">
        <a href="/polls/<%= id %>/<%= poll.adminID %>">Poll Admin Link</a> &nbsp || &nbsp
        <a href="/polls/<%= id %>">Active Poll Link</a> &nbsp || &nbsp
        <a href="#" id="close-poll">Close Poll</a>
      </h5>
      <p class="center">This Poll: Right Click to Copy and Distribute Poll Link</p><br>

      <% if(poll.closed){ %>
        <% include ../partials/admin-closed-poll %>
      <%  } else { %>
        <% include ../partials/admin-open-poll %>
      <%  } %>

      <!-- <div id="connection-count"></div>
      <div id="vote-count">
        <%= votes %>
      </div> -->
      <br><br><br>
    </div>
    <div id="status-message"></div>
    <!-- Make sure your JS is at the bottom of the body! -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
